---
layout: default
---

{% include header.html %}

{% include about-hero.html %}

<section>
	<div class="vision">
		<div class="about-title">
			<h2>What We do</h2>
		</div>
		../kjkj
		<div>
			<p>We need to write one or possibly two paragraphs about what our values, what we beleive in and why we started this blog. Some key points: we beleive in transparency, hence we always share the data we collected and grant acces to the charts we prepared via GitHub. We want to break down complex topics into easily digestable bits. We think that data can tell great stories. We want engage with the community on this platform.</p>
		</div>
	</div>

	
	<div class="team-section">
		<div class="about-title">
			<h2>The people behind datapalm</h2>			
		</div>

		<a href="../#asdasd"></a>

		<div class="about-team">
			<div id="team-member">
				<img src="/assets/img/adri.jpg" alt="team member">
				<strong>Tamas Kocsis</strong>
				<em class="member-title">Product Ninja</em>
			</div>
		</div>
		
	</div>

</section>

{% include footer.html %}
