<section>
	<ul class = "post-list">
		{% for post in site.posts %}
		<li>
			<div class="post-wrapper">
				<div style="background-image: url(/assets/heroimg/{{ post.hero_image }}); font-size: 12px; color: white; width: 504px; height: 336px; background-size: cover; float: left; position: relative; overflow: hidden">
					<h3 class="title-title">{{ post.title }}</h3>
				</div>
				<div class="excerpt">
					<p class="stamp"> {{ post.author }} | {{ post.date | date: "%B %e, %Y" }} </p> <br>
					<p class="teaser">{{ post.excerpt }}</p>
					<a href="{{ post.url | prepend: site.baseurl }}" class="read-more">Read More</a>
				</div>
			</div>
		</li>
		{% endfor %}
	</ul>
</section>