<section>
	<div class="post-wrapper">
		<div class="blog-title">
			<h3 class="title-title">{{ post.title }}</h1>
			<a href="{{ post.url }}">{{ post.title }}</a>
		</div>
		<div class="excerpt">
			<p class="stamp">Paulo | Date goes here: 2016-04-19 </p> <br>
			<p class="teaser">Basic income is having a moment. First Finland announced it would launch an ambitious experiment to see if it would work to give everyone in a given area is given a set amount of cash every year from the government, no strings attached. Now the Silicon Valley seed investment firm Y Combinator has announced it wants to fund a basic income experiment in the US</p>
			<a href="{{ post.url }}" class="read-more">Read More</a>
		</div>
	</div>
</section>