<footer>
<div class='lockup'>
	<div class='logo'>{% include icons/logo.html %}</div>
	
	<div class="content-wrap">
		<div class="wrapper">
			<nav>
				<div>
					<a href="">Home</a>
					<a href="">About Us</a>
					<a href="">Blog</a>
					<a href="">Contact</a>
					<a href="" class="social-header">Connect</a>
				</div>
				<div class="social-footer">
					<div class="social-icon">{% include icons/fb-icon.html %}</div>
					<div class="social-icon">{% include icons/tw-icon.html %}</div>
					<div class="social-icon">{% include icons/gh-icon.html %}</div>
				</div>
			</nav>	
		</div>
		<div class="copyright">
			<p>Copyright © 2016 • All rights reserved datapalm.io • Made with ♥ in Berlin</p>
		</div>
	</div>
</div>
</footer>