body
	background-color: #F0F0ED

	.post-wrapper


	.blog-title
		font-size: 30px
		text-transform: uppercase
		color: white
		width: 504px
		height: 336px
		background: url(../img/hero3.jpg) center center
		background-size: cover

	.excerpt
		font-size: 20px
		width: 800px
		float: right
