.post
	background: #F0F0ED

.post-hero
	height: 600px
	background-size: cover

.post-title
	text-align: center
	font:
		size: 72px
		weight: 700
	color: white
	letter-spacing: 0.07em
	margin-bottom: 20px
	clear: both
	padding-top: 150px

.entry
	margin: 50px 70px 0px 70px
	line-height: 1.75em

.date
	margin: 30px 70px 50px 70px
	font:
		size: 14px
		color: #727272